{% extends "base.html" %}

{% block content %}
<!-- ======= Hero Section ======= -->
<section id="hero">

    <div class="container">
        <div class="row">
            <div class="col-lg-6 pt-5 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center"
                data-aos="fade-up">
                <div>
                    <h1>Africa Underresourced Languages Collection Initiative</h1>
                    <h2>Initiative to collect hundreds or thousands of hours of speech data 
                        to grow clean data for many African languages
                    </h2>
                    <a href="/volunteer" class="btn-get-started scrollto" style="margin-left:10px;">Contribute Audio</a>
                    <a href="https://github.com/Morawetz/Speech-to-text-data_collection" class="btn-get-started scrollto" style="margin-left:10px;">Contribute code</a>

                </div>
            </div>
            <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="fade-left">
                <img src="static/img/African_language_map.png" class="img-fluid" alt="">
            </div>
        </div>
    </div>

</section><!-- End Hero -->

{% endblock %}